body{
    display: grid;
    background-color: grey;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
game-window{
    display: flex;
    background-color: black;
    width: 850px;
    height: 850px;
    justify-self: center;
    align-self: center;
    overflow: hidden;
}
.debug-menu{
    position: absolute;
    color: white;
    background-color: #00000075;
    ul {
        list-style: none;
        padding: 1rem;
        margin: 0;
    }
}